@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,300;1,500&display=swap');

:root{ 
  --component-bg: hsla(0, 0%, 26%, 0.358);
  --color-txt-light: hsl(180, 11%, 91%);
  --color-txt-black: hsl(0, 0%, 13%);

  --font-family: 'Roboto Condensed', sans-serif;

  /* font weight */
  --txt-light: 300;
  --txt-medium: 500;
  --txt-bold: 700;

  /* notification section bg */
  --n-bg-color-def : hsla(17, 100%, 85%, 0.378);
  --n-bg-color-loading : hsla(59, 100%, 50%, 0.378);
  --n-bg-color-error : hsla(0, 100%, 50%, 0.378);
  --n-bg-color-success : hsla(115, 100%, 50%, 0.378);
}

body{
  background-image: url('/bg-img.jpg');
  font-family: var(--font-family);
}

.main-header {
  display: grid;
  grid-template-areas: 
  "city-details city-details"
  "condition weather-details"
  "search search"
  ;

  background-color: beige;
  margin-bottom: 1rem;
}

.main-header__city-details, .main-header__condition, .main-header__weather-details {
  padding-left: 1em;
  padding-right: 1em;
}
.main-header, .daily-forecast-div, .hourly-forecast-div, .notification-tag {
  border-radius: 1rem;
  background-color: var(--component-bg);
  color: var(--color-txt-light);
}

.main-header__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  
  grid-area: search;
}
.main-header__city-details {
  grid-area: city-details;
  /* background-color: red; */
}
.main-header__condition {
  grid-area: condition;
  /* background-color: green; */
}
.main-header__weather-details {
  grid-area: weather-details;
  /* background-color: blue; */
}


.forecast-section {
  display: flex;
  flex-direction: column;
}
.hourly-forecast-div {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  max-height: 32rem;
}

.daily-forecast-div {
  margin-bottom: 1rem;
}



.daily-forecast-div__element, .hourly-forecast-div__elemnet {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-left: 1em;
  padding-right: 1em;
  /* background-color: cyan; */
}

.app {
  position: relative;
}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.notification-tag {

  position: fixed;
  top: 90vh;
  left: 85vw;
  
  padding: .5em 1em;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--n-bg-color-def);
  color: white;
  animation: fadein 1s linear;
}
.notifation-tag--loading {
  background-color: var(--n-bg-color-loading);
}
.notifation-tag--error {
  background-color: var(--n-bg-color-error);
}
.notifation-tag--success {
  background-color: var(--n-bg-color-success);
}


.input, .btn {
  background-color: var(--component-bg);
  color: var(--txt-light);
  border: 2px solid var(--color-txt-light);
  border-radius: .5rem;

  padding: .5em 1em;
}
.btn:hover, .input:hover  {
  background-color: var(--color-txt-light);
  color: var(--color-txt-black);
  border-color: var(--color-txt-black);
}